<app-leader title="Welcome to Future Stars Academy"
            content="We offer a great set of sessions tailored to the skill level of the participants and we can cover a wide range of age-groups making this a fun, development opportunity for a wide range of students"
            graphic="../assets/img/soccer/soccer-session.jpg"
>

</app-leader>

<!--<hr class="extra-margins">-->

<div class="row">
  <div class="col-lg-4">
    <app-img-card
      title="Coaching Sessions"
      content="Coaching sessions are challenging but fun and designed to give sustained improvement"
      graphic="../../../assets/img/soccer/soccer-skills.jpg"></app-img-card>

  </div>
  <div class="col-lg-4">
    <app-img-card
      title="Prices"
      routerLink="/prices"
      content="We are able to keep costs low and offer further options to give you even more choice"
      graphic="../../../assets/img/soccer/money-coins-finance.jpg"></app-img-card>

  </div>
  <div class="col-lg-4">
    <app-img-card
      title="Schedule"
      routerLink="/schedule"
      content="We are able to keep costs low and offer further options to give you even more choice"
      graphic="../../../assets/img/soccer/calender.jpg"></app-img-card>

  </div>
</div>



