<div class="row wow fadeIn" data-wow-delay="0.2s">
  <!--Main information-->
  <div class="col-lg-5">
    <h2 class="h2-responsive">{{title}}</h2>
    <hr>
    <p>{{content}}</p>
    <!--<a href="" class="btn btn-info">Get it now!</a>-->
  </div>
  <div class="col-lg-7">
    <!--Featured image -->
    <div class="view overlay hm-white-light z-depth-1-half">
      <!--<img src="http://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">-->
      <img src="{{graphic}}" class="img-fluid " alt="">
      <div class="mask">
      </div>
    </div>
    <br>
  </div>


</div>

