<app-leader title="Academy Schedule"
            content="Our courses run Monday to Friday(unless stated otherwise).  Please see the list below and attend one or more as you find convenient.  Successive courses will build on previous skills so dont think once you have attended one that there is no more you can develop"
            graphic="../assets/img/soccer/calender.jpg"
>

</app-leader>

<div class="container"    >
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Venue</th>
        <th>Week Commencing</th>
        <th>Info</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Deighton Sports Centre</td>
        <td>21 July 2017</td>
        <td>Booking up fast</td>
      </tr>
      <tr>
        <td>Deighton Sports Centre</td>
        <td>28 July 2017</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
