<div class="card wow fadeIn" data-wow-delay="0.4s">

  <!--height: auto;-->
  <!--width: 400px;-->
  <!--Card image-->

  <!--/.Card image-->

  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">{{title}}</h4>
    <div class="view overlay crop  hm-white-slight">
      <img src="{{graphic}}"  class="img-fluid" >
      <a routerLink="{{routerLink}}">
        <div class="mask"></div>
      </a>
    </div>
    <!--Text-->
    <p class="card-text">{{content}}.</p>
    <a routerLink="{{routerLink}}" class="btn btn-info">Read more</a>
  </div>
  <!--/.Card content-->

</div>

