<app-leader title="About Us"
            content="This page lets you know who we are, what we believe and how you can keep in touch with us"
>   </app-leader>

<div class="container">
  <div class = "row">
    <div class = "col-12" >
      <h3>some topics</h3>
      <ul>
        <li>whats the background and qualifications of the staff</li>
        <li>where they come from</li>
        <li>social media stuff</li>
        <li>individual intro</li>
      </ul>
    </div>


  </div>
  <div class = "row">
    <div class="col-4">
      <app-img-card title="Mr X - Academy Coach"></app-img-card>
      <ul class="list-group">
        <li class="list-group-item">Academy Co-Founder</li>
        <li class="list-group-item">UEFA licence class Z</li>
        <li class="list-group-item">Played, coached and managed local youth and adult teams</li>

      </ul>

    </div>
    <div class="col-4">
      <app-img-card title="Mr Y - Academy Coach"> </app-img-card>
      <ul class="list-group">
        <li class="list-group-item">Academy Co-Founder</li>
        <li class="list-group-item">UEFA licence class Z</li>
        <li class="list-group-item">Coached and managed local youth teams</li>
        <li class="list-group-item">Original coach for DISP initiative</li>
      </ul>

    </div>
    <div class="col-4">
      <app-img-card title="Mr Z - Academy Coach"></app-img-card>

    </div>
  </div>

</div>
