<app-leader title="Our Prices"
            content="We hope you like our prices. We think they are great and real value for money.  We are very well connected in the community and this lets us make savings and pass them right onto you. We hope it lets you strike the right balance between having flexibility and saving money where possible"
            graphic="../assets/img/soccer/money-coins-finance.jpg"
>

</app-leader>

<div class="row">

  <div class="col-lg-4">
    <app-price
      title="Day Rate"
      price="£7 per Day"
      colour="white"
      content="Not sure what you are doing?  Then using the daily rate may suit you.  So long as we have capacity then turn up the day"></app-price>


  </div>
  <div class="col-lg-4">
    <app-price
    title="Weekly Pass"
    price="£28 per week"
    colour="teal"
    content="Represents our greatest savings.  If you are pretty sure you will be coming all week pick this one"></app-price>
  </div>
  <div class="col-lg-4">
    <app-price
      title="3 Day Carnet"
      price="£18 for 3 Days"
      colour="white"
      content="Use this to blend your plans and making savings - valid weekly course.  Choose your days"></app-price>


  </div>

</div>
