@import "assets/css/bootstrap.min.css";
@import "assets/css/mdb.min.css";

 main {
   padding-top: 3rem;
   padding-bottom: 2rem;
 }

 .extra-margins {
   margin-top: 1rem;
   margin-bottom: 2.5rem;
 }
 .navbar {
   /*background-color: #3b3b3f;*/
   /*background-color: #3f729b;*/
   background-color: darkgreen;
 /*background-color: #5bc0de;*/
 }

 footer.page-footer {
   background-color: #3b3b3f;
   background-color: darkgreen;

   margin-top: 2rem;

 }


